html
{
    background-color: rgb(24, 22, 17);
}

div>a {
    font-family: 'Times New Roman'; 
    color: rgb(208, 143, 45);
    text-decoration: none;
    width: inherit;
    height: inherit;
    justify-content: center;
    align-items: center;
}

a.navlink
{
    padding: 20px;
    float: right;
}

a:hover
{
    text-decoration: underline;
    text-decoration-color: #d08f2d;
}

a.home
{
    float: left;
    padding: 20px;
    text-decoration: none;
    font-size:larger;
    font-style: italic;
}